In [9]:
import pandas as pd
import pyodbc


file_path = "E:\Reyhane\Data for Project for the future\Data for SQL,Tableau\Financial_Data.xlsx"  # change your path
df = pd.read_excel(file_path)

# cleaning data
df['Revenue'] = pd.to_numeric(df['Revenue'], errors='coerce')
df['Cost'] = pd.to_numeric(df['Cost'], errors='coerce')
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')

# Remove or replace invalid values

df.dropna(subset=['Revenue', 'Cost', 'Profit'], inplace=True)  # 
# df.fillna({'Revenue': 0, 'Cost': 0, 'Profit': 0}, inplace=True)

#Connecting to SQL Server 
conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=DESKTOP-OK9UTDK;"
    "Database=GithubProject;"
    "Trusted_Connection=yes;"
)
cursor = conn.cursor()

# Create a table in SQL Server (if needed)
cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='FinancialData' AND xtype='U')
CREATE TABLE FinancialData (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Date DATE,
    Product NVARCHAR(255),
    Category NVARCHAR(255),
    Revenue FLOAT,
    Cost FLOAT,
    Profit FLOAT,
    Region NVARCHAR(255),
    Customer NVARCHAR(255)
)
""")
conn.commit()

# Clearing previous data before entering new data
cursor.execute("DELETE FROM FinancialData")
conn.commit()
# Inserting data into SQL Server
for index, row in df.iterrows():
    cursor.execute("""
        INSERT INTO FinancialData (Date, Product, Category, Revenue, Cost, Profit, Region, Customer) 
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    """, row['Date'], row['Product'].strip(), row['Category'].strip(), 
       float(row['Revenue']), float(row['Cost']), float(row['Profit']), 
       row['Region'].strip(), row['Customer'].strip())

conn.commit()
conn.close()

print("✅ Data successfully loaded into SQL!")

<>:5: SyntaxWarning: invalid escape sequence '\R'
<>:5: SyntaxWarning: invalid escape sequence '\R'
C:\Users\Reyhane\AppData\Local\Temp\ipykernel_13372\857998901.py:5: SyntaxWarning: invalid escape sequence '\R'
  file_path = "E:\Reyhane\Data for Project for the future\Data for SQL,Tableau\Financial_Data.xlsx"  # change your path

✅ Data successfully loaded into SQL!